/* ---------- Media Queries --------- */



@media (max-width: 1440px){

    .banner1{
        width:100%;
        min-height:770px;
        margin: auto;
        background-image:url("../Images/Backgrounds/table-tennis-wallpaper-hd-1600-x-1067-122-kb-by-winter-smith.jpg");
        background-repeat: no-repeat;
        background-size: 105em;
    
    }
    
    /* -- Diseño de la barra -- */
    
    .banner1 nav ul li a{
        width:6.8em; 
        font-size:1.1em;
        text-align:center;
        color:rgba(255,255,255,0.6);
    }

    .banner1 nav ul li{
    	background-color:;
    }
    
    .banner1 nav ul li a:hover{
        color:rgba(255,255,255,1);
    }
    
    /* -- Redimención de la imagen y animación -- */
    
    nav a img{
        width:30%;
        animation-name:ani_image;
        animation-duration:4s;
        position:relative;
    }
    
    @keyframes ani_image{
        0%{left:-35%;}
        25%{left:0%;}
        
    }
    
    
    /* -- Diseño del jumbotron -- */
    
    .banner1 .jumbotron{
        width:45%;
        float:right;
        position:absolute;
        left:55%;
        text-align:center;
        color:#fff;
        background-color:rgba(0,0,0,0);
        padding:0;
        padding-top:3%;
    }
    
    .banner1 .jumbotron h1{
        font-size:230%;
    }

    /* ---------------------------- Diseño del aviso de registro de las paginas Torneo Nacionales y Ranking --------------------------- */

.banner1 .url_torN{
    width:120%;
    background-color:rgb(255, 255, 255);
    border-radius:2%;
    position:relative;
    right:80%;
    top:8em;
    color:#000;
    box-shadow: -2px -2px 20px #2091ce;
}

.banner1 .url_torN h1{
    text-decoration:underline;
}

.banner1 .url_torN p{
    font-size:1.73em;
    text-align:justify;
}

.banner1 .url_torN a{
    color:#2091ce;
    text-decoration:underline;  
}

.banner1 .url_torN a:hover{
    color:rgba(0, 77, 153,1);
}

.banner1 .url_torN img{
    width:18%;
}

	/* --------------------------- Diseño del Banner 2 video demostrativo --------------*/

	.banner2 .bot-ban iframe{
		width:100%;
		height:48em;
		margin:auto;
	} 

    /* --------------------------- Diseño del banner4 y dataTable --------------------- */

.banner4{
    width:100%;
    margin:auto;
}

.banner4 .bot-ban{
    padding:5%;
}

/* -- Diseño del texto izquierdo del banner 4 -- */

.banner4 .tex-l{
    position:relative;
    top:5.5em;
    text-align:center;
}

.banner4 .tex-l h1{
    font-size:3em;
    border-bottom: 1px solid black;
}

.banner4 .tex-l p{
    font-size:1.7em;

}

/* -- Diseño de DataTable -- */

.banner4 .rank-r{
    width:100%;
    margin:auto;
    text-align:center;
}

.rank-r table{
    margin:auto;
    box-shadow: 1px 1px 5px grey;
}

.rank-r tbody tr{
	color:white;
}

/* ------------------------ Diseño del formulario de Login y sign up ------------------------------- */

.in-banner2{
	width:100%;
	position:relative;
	top:3em;
	margin:auto;
	padding:1em;
	box-sizing: border-box;
	color:#fff;
	text-align:center;
}


.form-banner .formu-desig{
	width:30%;
	min-height:400px;
	/*background-color:rgba(255,255,255,0.98);*/
	margin:auto;
	text-align:center;
	color:black;
	position:relative;
	padding:1.2%;
	box-shadow: 0px 0.5px 6px black;

} 

.form-banner .formu-desig img{
	width:20%;
}

.form-banner .formu-desig h1{
	margin-bottom:0.5%;
}


.form-banner .formu-desig label{
	font-size:1.5em;
	width:100%;
	margin-bottom:2%;

}

.form-banner .formu-desig .text-in{
	width:75%;
	padding:0.5%;
}

.form-banner .formu-desig span{
	font-size:1.3em;
}

.form-banner .formu-desig input[type=submit]{
	width:76%;
	padding:1%;
}



/* -- Diseño sacado para formulario -- */ 

.form-style-5{
	max-width: 100%;
	padding: 10px 20px;
	background: #f4f7f8;
	margin:  auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 input[type="password"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,1);
	border: none;
	border-radius: 4px;
	font-size: 1em;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#000;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 input[type="password"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	width:75%;
	color:#696969;
	font-size:1.1em;

}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #004c99;;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #08355c;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #2091ce;
}
    
}



