@media (max-width: 1024px) {
    .main_banner1{
        width:100%;
        min-height:770px;
        margin: auto;
        background-image:url("../../Images/Backgrounds/videoblocks-ping-pong-ball-getting-flamed-in-slow-motion-on-black-background_s0hlzfjhm_thumbnail-full01.png");
        background-repeat: no-repeat;
        background-size: 100em;
        background-position:56% 0% ;
    
    }
    
    /* -- Diseño de la barra -- */
    
    .main_banner1 nav ul li a{
        width:6.5em; 
        font-size:1.6em;
        text-align:left;
        color:rgba(255,255,255,0.6);
    }
    
    .main_banner1 nav ul li a:hover{
        color:rgba(255,255,255,1);
    }
    
    /* -- Redimención de la imagen y animación -- */
    
    .main_banner1 nav a img{
        width:13%;
        animation-name:ani_image;
        animation-duration:4s;
        position:relative;
    }
    
    @keyframes ani_image{
        0%{left:-35%;}
        25%{left:0%;}
        
    }
    
    
    /* -- Diseño del jumbotron -- */
    
    .main_banner1 .jumbotron{
        width:80%;
        float:none;
        position:relative;
        left:10%;
        text-align:center;
        color:#fff;
        background-color:rgba(0,0,0,0);
        padding:0;
        padding-top:3%;
        margin:0 auto
    }
    
    .main_banner1 .jumbotron h1{
        font-size:210%;
    }

    /* -- Diseño del boton de barra de navegación -- */

    .main_banner1 .fa-bars{
        color:#2091ce;
        border:solid 1px rgba(255,255,255,0.1);
        font-size:1.5em;
    }
    
    .main_banner1 .fa-bars span:hover{
        background-color:rgba(255,255,255,1);   
    }

    /* ---------------------------- Diseño del aviso de registro de las paginas Torneo Nacionales y Ranking --------------------------- */

.banner1 .url_torN{
    width:120%;
    background-color:rgba(216, 216, 216, 1);
    border-radius:2%;
    position:relative;
    right:10%;
    top:8em;
    color:#000;
    box-shadow: -2px -2px 20px #2091ce;
}

.banner1 .url_torN h1{
    text-decoration:underline;
}

.banner1 .url_torN p{
    font-size:1.7em;
    text-align:justify;
}

.banner1 .url_torN a{
    color:#2091ce;
    text-decoration:underline;  
}

.banner1 .url_torN a:hover{
    color:rgba(0, 77, 153,1);
}

.banner1 .url_torN img{
    width:10%;
}

/* ------------------------ Diseño del banner2 y el video demostrativo del banner2 ----------------- */

.main_banner2{
    width:100%;
    height:auto;
    min-height:600px;
    margin: auto;
    background-image: url("../../Images/Backgrounds/videoblocks-ping-pong-ball-getting-flamed-in-slow-motion-on-black-background_s0hlzfjhm_thumbnail-full01.png");
	background-size:150em;
	background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:center;
}

/* -- Diseño del tope de los banners -- */

 .top-ban{
    width:100%;
    min-height:15px;
    background-color:rgba(0, 77, 153,1);
    color:#fff;
    text-align:center;
    border-radius: 0% 0% 20% 20%;
}

 .top-ban h1{
    font-size:1.5em;
}

/* -- Diseño del video del banner1 -- */

.main_banner2 .bot-ban{
    width:100%;
    height:600px;
    padding:0% 0%;
    padding-top:1%;
    margin:auto;
}

.main_banner2 .bot-ban iframe{
    width:98%;
    height:33em;
    position:relative;
    margin:auto;
    top:4%;
    left:1%;
}

/* --------------------------- Diseño del banner3 y el calendario ------------------------- */

.main_banner3{
    width:100%;
    height:auto;
    background-image: url("../../Images/Backgrounds/slide1.png");
	background-size:150em;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:right;
}

.main_banner3 .bot-ban{
    width:100%;
    padding:3%;
}

.main_banner3 .cal-desig{
    width:75%;
    background-color:rgba(8,53,92,0.97);
    margin:auto;
    color:#fff;
    padding:0.3%;
    font-size:1em;
    text-align:center;
}

.main_banner3  i{
    color:#1abc9c;
}

    /* --------------------------- Diseño del banner4 y dataTable --------------------- */

.main_banner4{
    width:100%;
    margin:auto;
}

.main_banner4 .bot-ban{
    padding:5%;
}

/* -- Diseño del texto izquierdo del banner 4 -- */

.main_banner4 .tex-l{
    margin:auto;
    position:relative;
    top:0%;
    
}

.main_banner4 .tex-l h1{
    font-size:2.4em;
    border-bottom: 1px solid black;
    text-align:center;
}

.main_banner4 .tex-l p{
    font-size:1.4em;
    text-align:justify;

}

/* -- Diseño de DataTable -- */

.main_banner4 .rank-r{
    width:100%;
    margin:auto;
    text-align:center;
}

.rank-r table{
    margin:auto;
    box-shadow: 1px 1px 5px grey;
}

.rank-r tbody tr{
	color:white;
}

/* --------------------------- Del footer (pie de pagina) de la sección inicio --------------------------- */

footer{
    background-color:rgba(0, 77, 153,1);
    color:#fff;
    text-align:center;
    padding:0.5%;
}

footer h2{
    text-decoration:underline;
}

/* -- Diseño de los links a Contactenos, dirección y Galeria -- */

footer .foot-antmp ul{
    list-style:none;
}

footer .foot-antmp ul li a{
	text-decoration:none;
    color:#fff;
    font-size:1.3em;
}

footer .foot-antmp ul li a:hover{
	color:#2091ce;
}

/* -- Diseño de los Iconos de las redes Sociales -- */

footer .foot-social .icon-desig{
    position:relative;
    top:0.5em;
}

footer i.fab{
    width:20%;
    font-size:3em;
    color:#fff;
}

footer i.fab:hover{
    color:#2091ce;
}

footer .line-hr{
    background-color:rgba(0, 36, 56, 0.3);
}

/* ---------------------------- Diseño de la pagina noticias --------------------------- */

#wrap{
    width:100%;
}

.sub-wrap{
    width:95%;
    padding:2%;
    margin:0 auto;
    background-color:hsl(0, 0%, 98.5%);
}

.not-cont{
    width:100%;
    background-color:;
    margin:1%;
    text-align:;
    float:left;
    border-left:8px dotted #2091ce;
    
}

.not-cont a{
    text-decoration:none;
    color:#000;
}

.not-cont a:hover{
    color:#2091ce;
}


.sub-wrap .not-img img{
    width:95%;
    float:left;
}

.sub-wrap .not-img h6{
    position:relative;
    left:12%;
}

.not-cont .not{
    float:left;
    padding:;
    background-color:;
    text-align:justify;   
}

.not-cont .not h3{
    font-style:italic;
    text-align:justify;
    font-size:1.4em;
}

.not-cont .not p{
    font-size:1em;
    width: 100%;
     
}

/* ---------------------------- Diseño de la pagina Asociación --------------------------- */

.main-boton-ban{
    width:100%;
    margin:auto;
}

/* -- Diseño de los botones de la pagina asociación -- */

.main-boton-ban .boton-desig{
    position:relative;
    left:-2%;
    margin:auto;
    margin-top:10%;
    margin-bottom:10%;
    padding:2%;
}

.main-boton-ban .boton-desig button{
    font-size:1.5em;
    padding:10%;
}

/* -- Diseño de la información de la pagina de asociación -- */

 .descrip-desig .box-des{
    margin:auto;
}

.box-des .left-des{
    width:100%;
    margin:auto;
    text-align:center;
}

.box-des .left-des h2{
    font-size:1.6em;
    margin-bottom:1%;
    text-decoration:underline;
}

.box-des .left-des img{
    width:65%;
    margin-bottom:1%;
}

.box-des .left-des p{
    width:75%;
    font-size:1.5em;
    margin:auto;
    text-align:justify;
}

#est-tar .box-des img{
    width:30%;
    opacity:0.9;
}

#est-tar .box-des img:hover{
    opacity:1;
}

/* -- Diseño del slider de equipo -- */

.sld-desig{
    width:100%;
    margin:auto;
    text-align:center;
}

.sld-desig h1{
    font-size:1.8em;
    margin-bottom:2%;
}

/* ------------------------ Diseño de la main pagina asociación ------------------------------------ */

.rank-tab{
    padding:3%;
    text-align:center;
    margin:auto;
}

.rank-tab h1{
    text-decoration:underline;
}

.rank-tab table.dataTable{
    width:85%;
    height:40em;
    padding:3%; 
}

.rank-tab thead{
    box-shadow: 1px 1px 5px grey;
}

.rank-tab tbody tr{
    color:#fff;
    box-shadow: 1px 1px 5px grey;

}

/* -------------------------- Diseñito de los videos de la parte de torneos -------------------------- */

.media-group{
    background-color:#f6f6f6;
    width:100%;
    max-width:1500px;
    min-height: 1200px;
    margin-top:1%;
    margin-bottom:1%;
    border-radius:1%;
}


.vids-gal .box-img{
    width:calc(10% * 3);
    margin: auto;
    margin-bottom:1.5em;
    border-radius:0.5%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
    overflow:hidden;
    background-color:#004d99;
    text-align:center;
    color:#fff;
    font-size:0.8em;
}

.vids-gal h4{
    font-size:1.2em;
}

/* -------------------------- Diseño de la pagina perfil --------------------------------------------- */

.perf-cont{
    width:50%;
    margin:auto;
    margin-top:1%;
  }

  .perf-cont h1{
      text-align:center;
      font-size:2em;
  }
  .perf-cont p{
      text-align:center;
      font-size:0.8em;
  }

  .perf-cont h4{
      font-size:1.2em;
  }

  .perf-cont i{
      font-size:1.6em;
      padding:0.8%;
      display:block;
      text-align:right;
  }

  .perf-cont .form-style-5{
	max-width: 100%;
	padding: 10px 20px;
	background: #f4f7f8;
	margin:  auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.perf-cont .form-style-5 fieldset{
	border: none;
}
.perf-cont .form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.perf-cont .form-style-5 label {
	display: block;
    margin-bottom: 8px;
    width:100%;
}
.perf-cont .form-style-5 input[type="text"],
.perf-cont .form-style-5 input[type="date"],
.perf-cont .form-style-5 input[type="datetime"],
.perf-cont .form-style-5 input[type="email"],
.perf-cont .form-style-5 input[type="number"],
.perf-cont .form-style-5 input[type="search"],
.perf-cont .form-style-5 input[type="time"],
.perf-cont .form-style-5 input[type="url"],
.perf-cont .form-style-5 input[type="password"],
.perf-cont .form-style-5 textarea,
.perf-cont .form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,1);
	border: none;
	border-radius: 4px;
	font-size: 1em;
	margin: 0;
	outline: 0;
	padding: 1%;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#000;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	
}
.perf-cont .form-style-5 input[type="text"]:focus,
.perf-cont .form-style-5 input[type="date"]:focus,
.perf-cont .form-style-5 input[type="datetime"]:focus,
.perf-cont .form-style-5 input[type="email"]:focus,
.perf-cont .form-style-5 input[type="number"]:focus,
.perf-cont .form-style-5 input[type="search"]:focus,
.perf-cont .form-style-5 input[type="time"]:focus,
.perf-cont .form-style-5 input[type="url"]:focus,
.perf-cont .form-style-5 input[type="password"]:focus,
.perf-cont .form-style-5 textarea:focus,
.perf-cont .form-style-5 select:focus{
	background: #d2d9dd;
}
.perf-cont .form-style-5 select{
	-webkit-appearance: menulist-button;
	width:70%;
	color:#696969;
    font-size:1em;
    padding:0;

}
.perf-cont .form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.perf-cont .form-style-5 input[type="submit"],
.perf-cont .form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #004c99;;
	font-size: 1em;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #08355c;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.perf-cont .form-style-5 input[type="submit"]:hover,
.perf-cont .form-style-5 input[type="button"]:hover
{
	background: #2091ce;
}

/* ------------------------ Diseño del formulario de Login y sign up ------------------------------- */

.in-banner2{
	width:100%;
	position:relati ve;
	top:6em;
	margin:auto;
	padding:1em;
	box-sizing: border-box;
	color:#fff;
	text-align:center;
}


.form-banner .formu-desig{
	width:50%;
	min-height:400px;
	/*background-color:rgba(255,255,255,0.98);*/
	margin:auto;
	text-align:center;
	color:black;
	position:relative;
	padding:1.2%;
	box-shadow: 0px 0.5px 6px black;

} 

.form-banner .formu-desig img{
	width:20%;
}

.form-banner .formu-desig h2{
    font-size:1.7em;
	margin-bottom:0.5%;
}


.form-banner .formu-desig label{
	font-size:1.3em;
	width:100%;
	margin-bottom:2%;

}

.form-banner .formu-desig .text-in{
	width:75%;
	padding:0.5%;
}

.form-banner .formu-desig span{
	font-size:1.3em;
}

.form-banner .formu-desig input[type=submit]{
	width:76%;
	padding:1%;
}



/* -- Diseño sacado para formulario -- */ 

.form-style-5{
	max-width: 100%;
	padding: 10px 20px;
	background: #f4f7f8;
	margin:  auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 input[type="password"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,1);
	border: none;
	border-radius: 4px;
	font-size: 1em;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#000;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 input[type="password"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	width:75%;
	color:#696969;
	font-size:1.3em;

}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #004c99;;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #08355c;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #2091ce;
}

/* ----------------------------------------- Diseño de la pagina Contactenos --------------------------------------- */

/* La pagina contactenos usa el desiño del formulario de registro de la pagina sign up */

.main-contact {
    padding:3%;
}

.contact-group{
    width:100%;
    margin:auto;
}

.contact-group h1{
    font-size:2.5em;
    text-align:center;
}

.contact-group p{
    font-size:1.3em;
    text-align:justify;
    
}

.contact-group i.fas, i.fab{
    color:#2091ce;
    font-size:1.3em;
}

.contact-group i.fas:hover, i.fab:hover {
    color:#004c99;
}

.contact-group li{
    list-style:none;
    float:left;
    padding-left:8%;
}

.contact-group li a{
    text-decoration:none;
    color:#000;
    font-size:1.3em;
    font-weight:normal;
    line-height: 3em;
}

.contact-group li a:hover{
    color:#004c99;
}

.contact-group .fb-page{
    margin:0 auto;
    width:100%;
    position:relative;
    left:0;
}

.contact-group img{
    width:20%;
}

.contact-group .formu-desig{
    text-align:center;
    position:relative;
    top:3em;
    left:10%;
}

.contact-group .formu-desig h2{
    font-size:1.5em;
}

    
}